@import "tailwindcss";

@font-face {
  font-family: 'Bahnschrift';
  src: url('./assets/font/Bahnschrift.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Bahnschrift", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-dynamic-black: hsl(60, 4%, 11%);
  --color-super-silver: #EEEEEE;
  --color-tobiko-orange: #E15D0A;

  --animate-infinite-scroll: infinite-scroll 20s linear infinite;

  @keyframes infinite-scroll {

    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  background: #fff;
  color: hsl(60, 4%, 11%);
  font-size: 1.125rem;
  font-weight: lighter;
}

.container {
  margin: 0 auto;
}

h1 {
  @apply font-bold text-6xl text-dynamic-black uppercase font-stretch-semi-condensed sm:text-8xl/21;
}

h2 {
  @apply font-light text-xl tracking-widest text-tobiko-orange uppercase font-stretch-condensed sm:text-4xl;
}

h3 {
  @apply font-black uppercase text-2xl font-stretch-condensed border-b-4 border-tobiko-orange mb-3 pb-3 sm:text-4xl;
}

p,
li,
a,
.btn {
  @apply text-sm sm:text-lg;
}

.btn {
  @apply font-normal w-fit px-8 py-4 rounded-full cursor-pointer;

  &.btn-default {
    @apply bg-tobiko-orange;
  }
}