@import "tailwindcss";

@font-face {
  font-family: 'Bahnschrift';
  src: url('./assets/font/Bahnschrift.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Bahnschrift", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-dynamic-black: hsl(60, 4%, 11%);
  --color-super-silver: #EEEEEE;
  --color-tobiko-orange: #E15D0A;

  --animate-infinite-scroll: infinite-scroll 20s linear infinite;

  @keyframes infinite-scroll {

    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

body {
  background: #fff;
  color: hsl(60, 4%, 11%);
  font-size: 1.125rem;
  font-weight: lighter;
}

.container {
  margin: 0 auto;
}